---
import goods from "../data/goods.json";
console.log(goods);
---

<ul>
  {goods.map((list) =>
     <img src=`/images/${list.itemphotos[0]}` />
     <li>{list.name}</li>
     <p>{list.text}</p>
  )}
</ul>
