body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  /* Align items to opposite ends */
  align-items: center;
  /* Center items vertically */
  /* Background color of header */
  padding: 10px 20px;
}

.logo {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.logo1 {
  width: 85px;
}

.cart-box {
  width: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
}

.product {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  /* Add this line for the animation effect */
}

.product:hover {
  transform: scale(1.05);
  /* Slightly increase the size */
}

.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.product-image {
  max-width: 75%;
  height: auto;
}

.product-details {
  padding: 20px;
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-description {
  font-size: 1em;
  line-height: 1.4;
  color: #666;
  margin-bottom: 15px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.product-price {
  font-size: 1.2em;
  color: green;
}

.product-state {
  font-size: 1em;
}

.product-state-available {
  color: blue;
}

.product-state-soldout {
  color: red;
}

.product-button:hover {
  background-color: #f6d975;
}

footer {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 50px;
  font-size: 0.8em;
}

/* public/styles.css */
#load-more-button {
  display: block;
  margin: 20px auto;
  /* Center the button */
  padding: 10px 20px;
  background-color: #ac2bdf;
  color: white;
  border: none;
  border-radius: 20px;
  /* Curved edges */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#load-more-button:hover {
  background-color: #ac2bdf;
  /* Darker blue on hover */
}

#load-more-button:active {
  background-color: #781c9c;
  /* Even darker blue when active */
}

.img-switcher {
  max-width: 900px;
  margin: 20px auto;
}

.main-img {
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.thumbnails {
  display: flex;
  gap: 4%;
  margin-top: 4%;
}

.thumb-btn {
  width: 22%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.thumb-img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.thumb-btn.active .thumb-img,
.thumb-btn:hover .thumb-img {
  border-color: #ac2bdf;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container-1 {
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.details {
  flex: 1;
  margin-left: 20px;
  margin-top: 100px;
}

.details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.details p {
  font-size: 20px;
  color: #555;
}

.details .price {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.quantity {
  margin-bottom: 20px;
}

.quantity label {
  font-size: 16px;
  color: #555;
  margin-right: 10px;
}

.quantity input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-to-cart-btn {
  background-color: #ac2bdf;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #781c9c;
}

@media (max-width: 900px) {
  .product {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .product {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */